<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheetah.shiroandjwt.mapper.SysUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.cheetah.shiroandjwt.entity.SysUserInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="role_ids" jdbcType="BIGINT" property="roleIds" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, password, roleIds
  </sql>

  <!--通过用户名获取用户信息-->
  <select id="getUserByLogin" parameterType="java.lang.String"
          resultType="com.cheetah.shiroandjwt.entity.SysUserInfo">
        select * from sys_user_info where name = #{username}
    </select>


</mapper>